# Database Settings
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=task_manager_db

# FastAPI Settings
SECRET_KEY="tu-clave-secreta-para-jwt"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30